*{
    font-family: 'Lato', sans-serif;
 }



a, p, ul, ol, li{
    font-size: 18px;
}
#process-diagram {
    width: 400px;
    height: auto;
    -webkit-animation-duration: 4s;
    margin-top: 10px;
    margin-bottom: -100px;
}

.diagram-area{
   background-color: rgba(97,98,98,.4);
   padding-bottom: 65px;
 
    }

    .building-diagram-area{
   background-color: #e0e0e0;

 
    }



.diagram-incentives{
   background-color: #1D2247;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -18px;
    height: 95px;
    box-shadow: 10px 10px;
    color: white;

    }

.financial-incentives{
    background-color: #1D2247;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -18px;
    color: white;
}

.process-steps {
    color: #01579b;
    font-weight: bolder;
}

.logos-area{
    background-color: rgba(231, 231, 231,.8);
    height: 300px ;
}
#titleBack {
    background-image: url('../css/images/blue-bck.gif');
    height: 100px;
    margin-left: none;
    margin-right: none;
    padding-top: 1px;
    margin-top: 60px;
    width: 100%;
}

#titleBack2 {
    background-color: #7f8c8d;
    height: 90px;
    margin-left: none;
    margin-right: none;
    margin-top: -24px;
    padding-top: .5px;
    width: 100%;
}

.testimonial{
      line-height: 2rem;
    background-color: rgba(2, 41, 115, .6);
    color: white;
}


.switch {
    height: 200px;
    width: 400px;
    background-color: rgb(66, 66, 66);
    border: 5px solid rgb(66, 66, 66);
    /* Just so we can see it */
    border-radius: 5px;
    position: absolute;
    top: 378px;
    left: 47%;
    /* Put the left edge on the horizontal center */
    margin-left: 100px;
    /* Move it 148px to the right of the horizontal center, placing it over the lightswitch */
    padding-left: 80px;
    z-index: -1;
}

.logos-container{
        height: 500px;  
    }

.switchTwo {
    height: 150px;
    width: 350px;
    background-color: rgb(168, 165, 157);
    border: 5px solid rgb(168, 165, 157);
    /* Just so we can see it */
    border-radius: 5px;
    position: absolute;
    top: 220px;
    left: 15%;
    /* Put the left edge on the horizontal center */
    margin-left: 100px;
    /* Move it 148px to the right of the horizontal center, placing it over the lightswitch */
    padding-left: 30px;
    z-index: -1;
}

.list-serv {
    direction: rtl;
    font-size: 16px;
}

.list-mep {
    direction: ltr;
    font-size: 16px;
}

#energy-list {
    -webkit-animation-duration: 6s;
}

#mep-list {
    -webkit-animation-duration: 6s;
}

.switchTwo:hover {
    background-color: red;
}

.firstSec {
    margin-bottom: 3000px;
}

#map {

    height: 300px;
    margin-left: none;
    margin-right: none;
    padding-top: 1px;
    margin-top: 50px;
    width: 100%;
}

ul.dropdown-content.select-dropdown li span {
    color: #022973; /* no need for !important :) */
}

.contact-list{
  color: #1D2247;
}

.contactus-backgnd{
  background-color: #cfd0d1;
}

.contact-icon{
  color: #1D2247;
}

.states{
    width: 100px;
    height: auto;
    margin:15px;
   
}

.states:hover{
/*   opacity: .5; */
    border-style: red solid 5px;
    margin-bottom: 0px;
}

#building-diagram{
    width: 800px; 
    height:auto; 
    margin-top: 40px;
}

.logos-img{
    width: 200px;
    height:auto;
}


@media only screen and (max-width: 992px){
    #building-diagram{
        width: 800px;
        height: auto;
    }
}

@media only screen and (max-width: 600px){
    #building-diagram{
       display: none;
    }
    .client-logos{
    background-color: rgba(231, 231, 231,.8);
    height: 1000px ;
}
.logos-img{
    width: 150px;
    height:auto;
}
.logos-title{
    font-size: 24px;
}

.facility-list{
    font-size: 14px;
}
#process-diagram{
    width: 280px;
    height:auto;
}

.testimonal{
    height:400px;

}
.testimonial-text{
    margin-top:-100px;
}

}



@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    .logos-container{
        height: 1000px;
    }
    .logos-area{
        margin-top:-200px;
        height: 510px;
    }
    #index-banner .section {
        top: 0;
    }

#titleBack{
    height: 200px;
    width: auto;
}
.parallax-container {
  position: relative;
  overflow: hidden;
  height: 600px;
}



@media screen and (max-width: 1100px) {
    #energy-list{
      display:none;
    }
    #mep-list{
      display: none;
    }

}
.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}
/* Optional: Makes the sample page fill the window. */
